<a href="https://colab.research.google.com/github/YASHPALSINGH3737/git_practice/blob/main/DL101_02012021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1 
Basic Linux commands

In [ ]:
!ls

*Finding type and number of processor*

In [ ]:
!cat /proc/cpuinfo

*Finding how much RAM we have*

In [ ]:
!cat /proc/meminfo

# Section 2
Python Data Types

In [5]:
name = 'iPhone 5s'

In [6]:
type(name)

str

In [7]:
print(name)

iPhone 5s

In [8]:
screen_size = 4.3
type(screen_size)

float

In [9]:
numOfSpeakers = 1
type(numOfSpeakers)

int

In [10]:
print('I just bought an '+ name)

I just bought an iPhone 5s

In [11]:
a = 3
b = 2
print(a * b, a / b, a + b, a - b, a ** b, a // b)

6 1.5 5 1 9 1

In [12]:
is_android = False
type(is_android)

bool

In [13]:
print(is_android == True)

False

In [14]:
print(is_android == False and numOfSpeakers > 1)

False

In [15]:
if is_android == True:
  print(name + ' supports Android')
  print('Continuing to print inside the if block')
print('Printing this outside the block')

Printing this outside the block

In [16]:
for i in range(5):
  print(i, i**2)

0 0
1 1
2 4
3 9
4 16

*If you want to know about any functio/method, type the name of that and add ? (Question mark there)*

In [17]:
range?

In [18]:
i = 0
while i < 5:
  print(i, i**2)
  i += 1 #equivalent to i = i + 1

0 0
1 1
2 4
3 9
4 16

*Define function syntax*

In [19]:
def print_squares(stop_val):
  for i in range(stop_val):
    print(i , i**2)

In [20]:
print_squares(5)

0 0
1 1
2 4
3 9
4 16

In [21]:
print_squares(3)

0 0
1 1
2 4

*Writing a function that can return something*

In [22]:
def sum_of_sqr(stop_val):
  sum_ = 0
  for i in range(stop_val):
    sum_ += i**2
  return sum_

In [23]:
sum_of_sqr(5)

30

In [24]:
sum_5 = sum_of_sqr(5)

*When we want to define function from starting squares from the values we want*

In [25]:
def print_squares_withStartVal(stop_val, start_val = 0):
  """Prints the sqaures of numbers starting from start_val (inclusive) and ending with stop_val(exclusive)"""
  for i in range(start_val, stop_val):
    print(i , i**2)

In [26]:
print_squares_withStartVal(5, 2)

2 4
3 9
4 16

In [27]:
help(print_squares_withStartVal)

Help on function print_squares_withStartVal in module __main__:

print_squares_withStartVal(stop_val, start_val=0)
    Prints the sqaures of numbers starting from start_val (inclusive) and ending with stop_val(exclusive)

In [28]:
print_squares_withStartVal?

# Section 3

**Day2: Python Basics-Lists**

In [29]:
my_phone = [name, is_android, screen_size]

In [31]:
type(my_phone)

list

In [32]:
print(my_phone)

['iPhone 5s', False, 4.3]

In [33]:
type(my_phone[0])

str

In [34]:
my_phone[0:2]

['iPhone 5s', False]

*normal copy of list where changing value of one list element changes the other list element too, which is referencing that*

In [35]:
my_dad_phone = my_phone

In [36]:
print(my_dad_phone)

['iPhone 5s', False, 4.3]

In [37]:
my_phone[2] = 4 #assiging a new value to my_phone list

In [38]:
print(my_phone)
print(my_dad_phone)  #changing values in one list, changed the values in other list, that was referencing that.
#If you don't want to do that.

['iPhone 5s', False, 4]
['iPhone 5s', False, 4]

In [40]:
my_phone[2] = 4.3
my_dad_phone = list(my_phone)
my_phone[2] = 4
print(my_phone)
print(my_dad_phone) #You will see this time that my_phone element changed, but not the my_dad_phone list element

['iPhone 5s', False, 4]
['iPhone 5s', False, 4.3]

In [41]:
#checking length of list
len(my_phone)

3

In [43]:
#How we can iterate through list

for data in my_phone:
  print(data)

iPhone 5s
False
4

In [46]:
#Append function for list
my_phone.append('3G')
print(my_phone)

['iPhone 5s', False, 4, '3G', '3G', '3G']

In [47]:
#We can append two lists too
my_phone = ['iPhone 5s', False, 4, '3G']
my_friend_phone = ['iphone6', 55000]

my_phone += my_friend_phone

print(my_phone)

['iPhone 5s', False, 4, '3G', 'iphone6', 55000]

In [48]:
#We can create the list of range function too

a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [50]:
#Map function
b = list(map(lambda x: x**2, a))
print(b)

[0, 1, 4, 9, 16]

In [51]:
#Filter function that can filter the list based on specific condition

c = list(filter(lambda x: x%2 == 0, b))
print(c)

[0, 4, 16]